// Wrapper Styles

.main-wrapper {
  display: flex;
  position: relative;
}

.filters-toggle {
  padding: 4px 6px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ececec;
  border: 1px solid;
  font-size: 15px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.8);
}

///////////////
// Filter Styles

.filters-main-cont {
  padding: 0px 0px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 300px;
  max-height: 100vh;
  // overflow-x: auto;
  box-sizing: border-box;
  background-color: #ececec;

  @media screen and (max-width: 480px) {
    padding-bottom: 50px;
    position: fixed;
    left: 0px;
    top: 0px;
    max-height: 100vh;
    min-height: 100vh;
    flex-basis: 75vw;
    width: 75vw;
    max-width: 75vw;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
    animation: slideFromLeft 400ms ease-in-out;
  }
}

.filters-title {
  margin: 20px 0px;
  flex-basis: 100%;
}

.filters-filters-cont {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  // overflow-x: auto;

  @media screen and (max-width: 480px) {
    // max-height: calc(100vh - 200px);
  }
}

.filters-filter-cont {
  padding: 10px;
  flex-basis: 20%;
  min-width: 250px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-sizing: border-box;
}

.filters-filter-title {
  margin: 0px;
  padding-bottom: 10px;
  width: 100%;
}

.filter-button {
  margin: 10px auto 0px;
  padding: 6px 10px;
  font-size: 14px;
  background-color: cornflowerblue;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.filters-filter-checkbox-cont {
  padding: 3px 0px;
  display: flex;
  width: 100%;
}

.filters-filter-checkbox {
  flex-basis: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 1px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.filters-filter-checkbox-inner-box {
  margin: 0px;
  padding: 50%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: blue;
  box-sizing: border-box;
  flex-basis: 100%;
  border-radius: 4px;
}

.filters-filter-checkbox-answer-text {
  margin: 0px;
  padding-left: 10px;
  flex-basis: calc(100% - 20px);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex-basis: 100%;
  text-align: left;
}

/////////////////////////////////
// * Animations
/////////////////////////////////

@keyframes slideFromLeft {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0px);
  }
}
