.results-main-cont {
  padding-left: 40px;
  flex-basis: calc(100% - 225px);
  //   height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  max-width: 100vw;
    background-color: #F6F6F6;

  @media screen and (max-width: 480px) {
    padding: 0px 10px;
    flex-basis: 100%;
    background-color: #ececec;
    -webkit-overflow-scrolling: touch;
  }
}

.results-title {
  text-align: center;
}

.results-subtitle {
  margin: 20px 0px;
  text-align: center;
}

.results-subtitle-filter-opt {
  padding: 4px 6px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.results-subtitle-filter-remove-btn {
  padding: 0px 2px;
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.results-results-cont {
  width: 100%;
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.result-cont {
  // margin-left: 30px;
  // margin-bottom: 20px;
  margin-bottom: 35px;
  padding: 10px;
  box-sizing: border-box;
  // flex-basis: 600px;
  // width: 550px;
  min-height: 80px;
  border-radius: 6px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
  // @media screen and (max-width: 900px) {
    margin-left: 0px;
    // flex-basis: 100%;
    width: 100%;
    max-width: 520px;
    border-radius: 8px;
    background-color: #fff;
  // }
}

.result-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

.info-cont {
  display: flex;
    flex-wrap: wrap;

  & > div {
    // padding: 0px 40px;
    // width: 260px;
    // min-width: 260px;
    box-sizing: border-box;

    & > svg {
      overflow: visible;
      max-width: 220px;
      margin: 0px auto;
    }
  }

  // @media screen and (max-width: 900px) {

    & > div {
      padding: 10px 20% 30px;
      width: 100%;
      min-width: 100%;
    }
  // }
}

.chart-result-percent {
  font-size: 7px;
  font-weight: bold;

  &:hover {
    z-index: 10;
  }
}

.stats-list-cont {
  padding: 0px 18px;
  list-style: none;

  li {
    padding: 6px 0px;

    &:not(:last-of-type) {
    border-bottom: 1px solid #ececec;
    }
  }

  // @media screen and (max-width: 900px) {
    width: 100%;
  // }
}

.result-text {
  text-align: left;
  // margin-bottom: 5px;

  // @media screen and (max-width: 900px) {
    display: flex;
    justify-content: space-between;
  // }

  &.none-match {
    text-decoration: line-through;
    opacity: 0.3;
  }
}

.result-text-value {
  margin-left: auto;

  @media screen and (max-width: 900px) {
    padding-left: 6px;
    flex-basis: 144px;
    text-align: right;
  }
}

.result-text-value-percentage {
  //   font-style: italic;
  padding: 1px 3px;
  border-radius: 3px;
  border: 1px solid;
}

.result-text-title {
  font-weight: bold;

  @media screen and (max-width: 900px) {
    flex-basis: calc(100% - 150px);
  }
}
